<h1>Rewards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Price</th>
      <th>Creation time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.id %></td>
        <td><%= reward.title %></td>
        <td><%= reward.price %></td>
        <td><%= reward.created_at %></td>
        <td><%= link_to 'Show', reward_path(reward), class: "btn btn-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
