<h1>Buy rewards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.price %></td>
        <td><%= link_to "Buy", orders_path(order: {:reward_id => reward.id}), method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', orders_path, class: "btn btn-secondary"%>
