<p id="notice"><%= notice %></p>

<p>
  <strong>Date of order:</strong>
  <%= @order.created_at.strftime("%F") %>
</p>

<p>
  <strong>Title:</strong>
  <%= @order.bought_reward.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.bought_reward.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.bought_reward.price%>
</p>



<%= link_to 'Back', orders_path, class: "btn btn-secondary"%>
