
<h1>List of bought rewards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Time of the purchase:</th>
      <th>Email of employee</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%F") %></td>
        <td><%= order.employee.email %></td>
        <td><%= order.bought_reward.title %></td>
        <td><%= order.bought_reward.description %></td>
        <td><%= order.bought_reward.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', admins_root_path, class: "btn btn-secondary" %> 
