<!DOCTYPE html>
<html>
  <head>
    <title>Employee Recognition Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1><%= link_to 'Company', root_path, class: "btn btn-success btn-lg" %></h1>
      
      <div class="page-header">
        <% if flash[:notice].present? %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:error].present? %>
          <div class="alert alert-danger">
            <%= flash[:error] %>
          </div>
        <% end %>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>

      <nav>
        <h4>Navigation</h4>
        <ul class ="nav">
          <% if admin_signed_in? %>
            <li><%= link_to 'Manage Kudos', admins_kudos_path, class: "btn btn-primary" %></li>&nbsp   
            <li><%= link_to 'Manage Employees', admins_employees_path, class: "btn btn-primary" %></li>&nbsp 
            <li><%= link_to 'Manage Company values', admins_company_values_path, class: "btn btn-primary" %></li>&nbsp
            <li><%= link_to 'Manage Rewards', admins_rewards_path, class: "btn btn-primary" %></li>&nbsp
            <li><%= link_to 'Sign out as Admin', destroy_admin_session_path, method: :delete, class: "btn btn-warning" %></li>&nbsp    
          <% end %>
        </ul>
      </nav>

    <%= yield %>
  
  </body>
</html>
