<!DOCTYPE html>
<html>
  <head>
    <title>Employee Recognition Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1><%= link_to 'Company', root_path, class:  "btn btn-success btn-lg" %></h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <nav>
        <h4>Navigation</h4>
        <ul class ="nav">
          <% if employee_signed_in? %>
            <button type="button" class="btn btn-info"><%= "Number of available kudos: #{current_employee.number_of_available_kudos}" %></button>&nbsp
            <%= link_to 'Kudos', root_path, class: "btn btn-primary"  %>&nbsp
            <%= link_to 'Rewards', rewards_path, class: "btn btn-primary"  %>&nbsp
            <%= link_to 'Sign out', destroy_employee_session_path, method: :delete, class: "btn btn-warning"  %>&nbsp
           <% elsif !admin_signed_in? %>
            <%= link_to "Sign in", new_employee_session_path, class: "btn btn-primary" %>&nbsp
            <%= link_to 'Sign up', new_employee_registration_path, class: "btn btn-primary" %>&nbsp
          <% end %>
          <% if admin_signed_in? %>
            <%= link_to 'Sign out as Admin', destroy_admin_session_path, method: :delete, class: "btn btn-warning" %>&nbsp    
          <% elsif !employee_signed_in? %>
            <%= link_to "Sign in as Admin", new_admin_session_path, class: "btn btn-primary" %>&nbsp
          <% end %>
        </ul>
      </nav>

    <%= yield %>
  
  </body>
</html>
